<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <!--<remove name="ConnectionString"/>
        <add name="ConnectionString" connectionString="server=srv-stage-1.goodtv.tv;uid=donate;pwd=donate;database=DonationGoodTV; Connection Lifetime=200 ;"/>-->
      <!--<add name="ConnectionString" connectionString="server=srv-donate-sqldb.goodtv.tv;uid=developer;pwd=gooddms;database=DonationGoodTV; Connection Lifetime=200 ;" />-->
    </connectionStrings>
	<appSettings>
    <!--<add key="ipay_http" value="https://www2.epay.cc/cardfinance.php" />
    <add key="EmailToDonations" value="renault-s@goodtv.tv;limiaow@goodtv.tv;eva-yang@goodtv.tv;shihyi-fang@goodtv.tv;samson.andre@gmail.com" />
    <add key="ipay_http" value="http://gateway.demo.linkuswell.com.tw/cardfinance.php" />
    <add key="EmailToDonations" value="shihyi-fang@goodtv.tv;samson.andre@gmail.com;samuel-lin@goodtv.tv" />-->
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="donate_index.html" />
                <!--<add value="donateonlineall.aspx"/>-->
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
